<nav class="bg-blue-900 h-16 pl-5 flex items-center">
  <div class="flex items-baseline">
    <h1 class="text-3xl text-white">ng-for-else</h1>
    <h2 class="text-lg text-white pl-2">Showcase</h2>
  </div>
</nav>

<div class="container mx-auto p-10">
  <h1 class="text-3xl py-5">Deep rock galactic dwarf classes</h1>

  <ng-template #emptyListTemplate>
    <div
      class="bg-red-400 rounded-lg shadow-lg p-5 mt-3 border border-red-500 text-white"
    >
      Empty list
    </div>
  </ng-template>

  <div
    class="bg-white rounded-lg shadow-lg p-5 mt-3 border border-slate-100"
    *ngFor="let dwarfClass of dwarfClasses; else: emptyListTemplate"
  >
    {{ dwarfClass }}
  </div>

  <button
    (click)="reduceDwarfClasses()"
    class="bg-blue-700 text-white rounded-3xl p-3 px-5 mr-2 mt-5"
  >
    Show only two dwarf classes
  </button>
  <button
    (click)="cleanup()"
    class="bg-blue-700 text-white rounded-3xl p-3 px-5 mr-2 mt-5"
  >
    Clean up dwarf classes
  </button>
  <button
    (click)="reset()"
    class="bg-blue-700 text-white rounded-3xl p-3 px-5 mr-2 mt-5"
  >
    Reset
  </button>
</div>
